*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.body__wrapper {
  font-family: 'Ubuntu', sans-serif;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(58px, auto) 1fr;
  align-items: stretch;
}

.header {
  height: auto;
  background: rgba(0,0,0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
  padding: 0 80px;
}

.header__logo {
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  margin: 18px 0px 18px;
}

.header__logo:hover {
  color: #01813F;
  transition: all 0.2s;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-list {
  padding: 0 12px;
  margin: 0;
}

.header__nav-item {
  display: inline-block;
  margin: 0 12px;
}

.header__nav-svg:hover path{
  fill: #01813F;
  transition: all 0.2s;
}

.header__nav-log {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  padding-left: 27px;
  position: relative;
}

.header__nav-log::before {
  content: "";
  height: 19px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
}

.header__nav-link {
  text-decoration: none;
  color: #FFF;
}

.header__nav-link:hover {
  color: #01813F;
  transition: all 0.2s;
}

.form__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form {
  background: #FFF;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
  display: flex;
  justify-content: center;
  align-items:flex-start;
  position: relative;
  padding-top: 31px;
  padding-bottom: 38px;
}

.form::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background: #3CB878;
  top: 35px;
  left: 0;
}

.form__inner {
  width: 444px;
  padding: 0 60px;
}

.form__log {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__log-singUp {
  text-decoration: none;
  font-size: 20px;
  color: #434343;
}

.form__log-logIn {
  text-decoration: none;
  font-size: 14px;
  color: #3CB878;
  border-bottom: 1px solid transparent;
  transition: all 0.1s;
}

.form__log-logIn:hover {
  color: #01813F;
  border-bottom: 1px solid #01813F;
}


.form__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px 31px;
}

.form__social-btn {
  width: 160px;
  height: 48px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  transition: all 0.2s;
}

.form__social-btn_facebook {
  background: #305DB8;
}

.form__social-btn_facebook:hover {
  background: #022263;
}

.form__social-btn_google {
  background: #DF4A32;
}

.form__social-btn_google:hover {
  background: #AB1F09;
}

.form__social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 28px;
  border-right: 1px solid  rgba(10, 22, 47, 0.1);
}

.form__social-btn_name {
  width: 110px;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

.form__separator {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.form__separator p {
  position: absolute;
  background: #fff;
  font-size: 14px;
  text-align: center;
  color: #848484;
  margin: 0;
  padding: 0 5px;
}

.form__separator::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #F2F2F2;
  left:0;
}

.form__list-input {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 100%;
  height: 46px;
  background: #FFFFFF;
  border-radius: 4px;
  margin-bottom: 15px;
  border: 1px solid #F2F2F2;
  outline: none;
  color: #434343;
}

.form__list-input::placeholder {
  color: #BEBEBE;
}

.form__list-input:focus {
  transition: all 0.2s;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.form__list-checkbox {
  display: none;
}

.form__list-checkbox-label::before {
  content: '';
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #F2F2F2;
  border-radius: 0px;
  margin-right: 8px;
  vertical-align: middle;
}

.form__list-checkbox:checked + .form__list-checkbox-label:before {
  content: "";
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 0.2s;
}

.form__list-checkbox-label {
  font-size: 14px;
}

.form__list-checkbox-link {
  color: rgba(60, 184, 120, 1);
  border-bottom: 1px solid transparent;
}

.form__list-checkbox-link:hover {
  transition: all 0.2s;
  color: #01813F;
  border-bottom: 1px solid #01813F;
}

.form__btn {
  display: block;
  margin-top: 20px;
  outline: none;
  width: 100%;
  padding: 16px 0px;
  font-size: 16px;
  color: #fff;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border-color: transparent;
}

.form__btn:hover {
  transition: all 0.2s;
  background: #01813F;
}
